/.idea
/.vscode
*.log
.env
.DS_Store
/api_zuixinh.tar.gz
/runtime
/public/.user.ini
/*.sql
/composer.lock.bak
/app/common/command/CheckBonus_old2.php
/public/chatlink.html
/test/TestCheckBonus.php
/vendor/bin/.phpunit.result.cache

export/
