<div class="search">
    <form class="form-inline">
        <a class="btn btn-flat btn-primary m_10_l_0" href="{:url('admin/Ranking/list')}">显示全部</a>
        <a class="btn btn-flat btn-success m_10 f_r" onclick="javascript:history.back(-1)"><i class="fa fa-undo m-r-10"></i>返 回</a>
    </form>
</div>

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <form id="commentForm">
            <?php if (!empty($data)){ ?>
                <input type="hidden" class="form-control" value="{$data['id']}" name="id">
            <?php } ?>
            <div class="box box-body">
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">排名</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">

                            <input type="text" name="rank" class="form-control" placeholder="请输入" value="{$data['rank']??1}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>

                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">用户名</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="user_name" class="form-control" placeholder="请输入" value="{$data['user_name']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>

                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">用户手机号</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="phone" class="form-control" placeholder="请输入" value="{$data['phone']??'131xxxx2345'}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>

                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">直推人数/投资金额</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="direct_push_count" class="form-control" placeholder="请输入" value="{$data['direct_push_count']??0}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>

                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">类型</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <select name="type" class="form-control">
                                <option {if isset($data['type']) && $data['type']==1}  selected {/if} value="1">直推</option>
                                <option {if isset($data['type']) && $data['type']==2}  selected {/if}   value="2">投资</option>
                            </select>
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>


                <div class="row dd_input_group">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 text-center">
                            <button type="button" class="btn btn-flat btn-primary" onclick="sub()">提 交</button>
                            <button type="button" class="btn btn-flat btn-default" onclick="javascript:history.back(-1)">返 回</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    $(function(){
        var url = "{:url('admin/Meetings/list')}";
        $('a[href="'+url+'"]').parents('.menu-li').addClass('active');
        var headerText = $('a[href="'+url+'"]').children('span').text();
        var is_add = "<?php echo !empty($data) ? '0' : '1';?>";
        var headerTitle = is_add == "1" ? headerText + '-添加' : headerText + '-编辑';
        $('#content-header-title').text(headerTitle);


    });

    function sub()
    {
        var formData = new FormData($('#commentForm')[0]);
        $.ajax({
            url:'<?php echo url("admin/Ranking/editRanking");?>',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.code == '200'){
                    layer.msg(res.msg, {icon: 1, time: 3000});
                    // window.location.href = document.referrer;
                }
                else {
                    layer.msg(res.msg, {icon: 5, time: 3000});
                }
            },
            error: function (res) {
                layer.msg(res.msg, {icon: 5, time: 3000});
            }
        });
    }
</script>
