<div class="search">
    <form class="form-inline">
        <a class="btn btn-flat btn-primary m_10_l_0" href="{:url('admin/Meetings/list')}">显示全部</a>
        <a class="btn btn-flat btn-success m_10 f_r" onclick="javascript:history.back(-1)"><i class="fa fa-undo m-r-10"></i>返 回</a>
    </form>
</div>

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <form id="commentForm">
            <?php if (!empty($data)){ ?>
                <input type="hidden" class="form-control" value="{$data['id']??''}" name="id">
            <?php } ?>
            <div class="box box-body">
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">封面图</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <div id="img_preview1">
                                <?php if (!empty($data)){ ?>
                                <img style="max-width: 580px;" src ="{$data['cover_image']??''}"/>
                                <?php } ?>
                            </div>
                            <input type="file" class="form-control" name="cover_image" id="img_url1" accept="image/gif,image/jpeg,image/jpg,image/png" onchange="selectFile(1)">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>

                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">会议标题</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="title" class="form-control" placeholder="请输入" value="{$data['title']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>

                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">发起人</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="who" class="form-control" placeholder="请输入" value="{$data['who']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>

                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">状态</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <select name="type" class="form-control">
                                <option {if isset($data['type']) && $data['type']==1}  selected {/if} value="{$data['type']??1}">开启</option>
                                <option {if isset($data['type']) && $data['type']==0}  selected {/if}   value="{$data['type']??1}">关闭</option>
                            </select>
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>

                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">会议类型</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <select name="meeting_type" class="form-control">
                                <option {if isset($data['meeting_type']) && $data['meeting_type']==1}  selected {/if} value="1">直播</option>
                                <option {if isset($data['meeting_type']) && $data['meeting_type']==2}  selected {/if}   value="2">录制</option>
                            </select>
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>

                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">超链接</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input type="text" name="link" class="form-control" placeholder="请输入" value="{$data['link']??''}">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>
                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">内容</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <textarea name="content" class="form-control" rows="5" placeholder="请输入">{$data['content'] ?? ''}</textarea>

                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>

                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">会议开始时间</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input placeholder="开始时间" autocomplete="off" value="{$data['start_time']??''}" name="start_time" class="form-control layer-date" id="start_time">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>

                <div class="row dd_input_group">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label dd_input_l">会议结束时间</label>
                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4">
                            <input placeholder="结束时间" autocomplete="off" value="{$data['end_time']??''}" name="end_time" class="form-control layer-date" id="end_time">
                        </div>
                        <div class="col-xs-1 col-sm-4 col-md-6 col-lg-6 dd_ts">*</div>
                    </div>
                </div>

                <div class="row dd_input_group">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 text-center">
                            <button type="button" class="btn btn-flat btn-primary" onclick="sub()">提 交</button>
                            <button type="button" class="btn btn-flat btn-default" onclick="javascript:history.back(-1)">返 回</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    $(function(){
        var url = "{:url('admin/Meetings/list')}";
        $('a[href="'+url+'"]').parents('.menu-li').addClass('active');
        var headerText = $('a[href="'+url+'"]').children('span').text();
        var is_add = "<?php echo !empty($data) ? '0' : '1';?>";
        var headerTitle = is_add == "1" ? headerText + '-添加' : headerText + '-编辑';
        $('#content-header-title').text(headerTitle);

        //日期范围限制
        var start = {
            elem: '#start',
            format: 'yyyy-MM-dd',
        };
        var end_time = {
            elem: '#end_time',
            format: 'yyyy-MM-dd HH:mm:ss',
        };
        var start_time = {
            elem: '#start_time',
            format: 'yyyy-MM-dd HH:mm:ss',
        };
        laydate.render(start);
        laydate.render(end_time);
        laydate.render(start_time);
    });

    function sub()
    {
        var formData = new FormData($('#commentForm')[0]);
        $.ajax({
            url:'<?php echo url("admin/Meetings/editMeetings");?>',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.code == '200'){
                    window.location.href = document.referrer;
                }
                else {
                    layer.msg(res.msg, {icon: 5, time: 3000});
                }
            },
            error: function (res) {
                layer.msg(res.msg, {icon: 5, time: 3000});
            }
        });
    }
</script>
